@use "../abstracts" as var;

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  column-gap: 3.1rem;
  row-gap: 2.1rem;
  margin-top: 3.8rem;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  label {
    color: black;
    font-weight: 700;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    position: relative;

    .required {
      color: #d51a1a;
    }

    &.consent {
      display: grid;
      grid-template-columns: 20px 1fr;
    }
  }

  input {
    margin-top: 0.9rem;
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
    font-weight: 400;

    &[type="checkbox"] {
      appearance: none;
      background: white;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 20px !important;
      height: 20px;
      border-radius: 0.15em;
      padding: 0;
      transform: translateY(5px);
      border: 0.15em solid currentColor;
      display: grid;
      justify-items: center;
      align-items: center;

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var.$blue;
      }

      &:checked::before {
        transform: scale(1);
      }
    }

    &.error-field {
      border: 2px solid var.$red;
    }
  }

  .town {
    grid-column: 1 / 3;
    width: 100%;
  }

  .required-field {
    grid-column: 1 / 3;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .consent {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    grid-column: 1 / 3;
    font-size: 1.6rem;
    font-weight: 400;
    gap: 1.1rem;

    input {
      width: fit-content;
    }
  }

  button {
    width: 100%;
    background: var.$blue;
    color: white;
    border: 1px solid var.$blue;
    font-size: 3rem;
    font-weight: 700;
    padding-block: 1.9rem;
    grid-column: 1 / 3;
    transition: 0.3s ease-in-out;

    &:hover {
      background: white;
      color: var.$blue;
    }
  }

  .error-message {
    font-size: 1.4rem;
    font-weight: 300;
    position: absolute;
    bottom: -20%;
    left: 0;
    color: var.$red;
  }
}

.success-message {
  margin-top: 5.8rem;

  h2 {
    text-align: center;
    color: var.$blue;
    font-size: 5.3rem;

    @media (max-width: 1330px) {
      text-align: center;
      text-transform: uppercase;
    }

    @media (max-width: 400px) {
      font-size: 4.2rem;
    }
  }

  strong {
    color: black;
    font-weight: 700;
    font-size: 4.5rem;

    @media (max-width: 1330px) {
      text-align: center;
      margin-inline: auto;
      display: flow-root;
    }
  }

  p {
    color: var.$blue;
    font-size: 3.1rem;

    @media (max-width: 1330px) {
      text-align: center;
    }
  }

  a {
    background: var.$blue;
    border: 1px solid var.$blue;
    transition: 0.3s ease-in-out;
    color: white;
    text-decoration: none;
    width: 100%;
    padding-block: 3.2rem;
    display: flow-root;
    text-align: center;
    margin-top: 7.8rem;
    font-weight: 600;
    font-size: 3rem;
  }
}

.fatal-error {
  grid-column: 1 / 3;
  width: 100%;

  strong {
    color: var.$red;
    text-align: center;
    display: flow-root;
  }
}
