@use "base";
@use "abstracts" as var;
@use "components";

.container {
  max-width: min(95%, 1330px);
  margin-inline: auto;
}

.container-narrow {
  max-width: min(90%, 1050px);
  margin-inline: auto;
}
